<!DOCTYPE html>
<html lang="en" ng-app='admin'>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <!-- This is a wide open CSP declaration. To lock this down for production, see below. -->
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *" />

  <title>Salud</title>

  <!-- CSS  -->
  <!--link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"-->
  <script src="js/angular.min.js"></script>
<script src="js/app_admin.js"></script>
  <link href="css/icons_material.css" type="text/css" rel="stylesheet">
  <script type="text/javascript" src="cordova.js"></script>
  <script src="js/jquery-2.0.0.min.js"></script>
  <script src="js/general.js"></script>
  <link href="css/materialize.css" type="text/css" rel="stylesheet" />
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="js/materialize.js"></script>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="favicon (7).ico" type="image/x-icon">

  <link rel="icon" href="favicon (7).ico" type="image/x-icon">

  <script src="js/materialize.js"></script>

  <script src="js/init.js"></script>
</head>
<body ng-controller='glosarioController'>
	<style>
		.fa{
			color:#ef6c00;
		}
	</style>

   <nav class="blue darken-1" role="navigation">
   <!--nav -->
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Salud</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Link1</a></li>
        <li><a href="#">Link2</a></li>
        <li><a href="#">Link3</a></li>

      </ul>
      <ul class="side-nav" id="mobile-demo">
       <li><a href="#">Link1</a></li>
        <li><a href="#">Link2</a></li>
        <li><a href="#">Link3</a></li>
      </ul>
    </div>
  </nav>

    <div class="container">
      <br>
      <form  ng-submit="calTasaBasal()">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <!--select name="genero" id="genero" ng-model="genero" ng-options="genero.name for genero in generos"-->
            <select name="genero" id="genero" ng-model="genero" >
              <option value="1" selected="selected">Hombre</option>
              <option value="2" >Mujer</option>
            </select>
            <label>Sexo</label>
          </div>

          <div class="input-field col s12">
            <!--i class="mdi-av-closed-caption prefix"></i-->
            <i class="material-icons prefix">assessment</i>
            <input autocomplete='off' ng-model="peso" type="text">
            <label for="peso"  class="center-align">Peso en Kilogramos</label>
          </div>

          <div class="input-field col s12">
            <!--i class="mdi-av-closed-caption prefix"></i-->
            <i class="material-icons prefix">assessment</i>
            <input autocomplete='off' ng-model="estatura" type="text">
            <label for="estatura"  class="center-align">Estatura en céntimetro</label>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">assessment</i>
            <input autocomplete='off' ng-model="edad" type="text">
            <label for="edad"  class="center-align">Edad</label>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">snooze</i>
            <!--select id="actividad" name="actividad" ng-model="actividad" ng-options="actividad.name for actividad in actividades"-->
            <select id="actividad" name="actividad" ng-model="actividad" >
              <option value="1.2" selected="selected">Sedentario</option>
              <option value="1.375" >Actividad Ligera</option>
              <option value="1.55" >Actividad Moderada</option>
              <option value="1.725" >Actividad Intensa</option>
              <option value="1.9" >Actividad Muy Intensa</option>
            </select>
            <label>Nivel de Actividad</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button type="submit" class="col-md-12 col-sm-12 col-xs-12 col-lg-12 btn btn-primary btn-rounded waves-effect waves-light">Calcular</button>
          </div>
        </div>
        <div id="msjError"></div>
      </form>
    </div>
    <script>
       $(document).ready(function() {
          $('select').material_select();
      });
    </script>
  </body>
</html>
