<!DOCTYPE html>
<html lang="en" ng-app='admin'>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <!-- This is a wide open CSP declaration. To lock this down for production, see below. -->
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *" />

  <title>Salud</title>

  <!-- CSS  -->
  <!--link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"-->
  <script src="js/angular.min.js"></script>
  <!--script src="js/app_admin.js"></script-->
  <script src="js/app_procedimiento.js"></script>
  <link href="css/icons_material.css" type="text/css" rel="stylesheet">
  <script type="text/javascript" src="cordova.js"></script>
  <script src="js/jquery-2.0.0.min.js"></script>
  <script src="js/general.js"></script>
  <link href="css/materialize.css" type="text/css" rel="stylesheet" />
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="js/materialize.js"></script>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="favicon (7).ico" type="image/x-icon">

  <link rel="icon" href="favicon (7).ico" type="image/x-icon">

  <script src="js/materialize.js"></script>

  <script src="js/init.js"></script>

</head>
<body ng-controller='procedimientoController' ng-init="init()">
	<style>
		.fa{
			color:#ef6c00;
		}
	</style>

   <nav class="blue darken-1" role="navigation">
    <div class="nav-wrapper">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul  class="left">
        <!--li><a href="#!" class="brand-logo">Salud</a></li-->
        <li><h1 class="logo-wrapper"><a href="#!" class="brand-logo">GymCoach</a></h1></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <div class="container">
          <br><img class="circle responsive-img" src="img/avatar.png" width="100px">
          <li><a href="index.html">Inicio</a></li>
          <li><a href="mis_datos.html">Mis Datos</a></li>
          <li><a ng-click="Reiniciar()" href="#">Reeiniciar</a></li>
          <li><a ng-click="Cerrar()" ><strong>Cerrar App</a></strong></li>
        </div>
      </ul>
    </div>
  </nav>

    <div class="container" >
      <br>
      <div class="cargar" id="cargar">
        <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="contenido" style="display:none">
      <h4>Índice de Masa Corporal</h4>
      <h3>{{tmb.imc}}</h3>

      <br><br>
      <h5>Días de Ejercicio</h5>
      <table  class="centered">
        <thead>
          <tr><th data-field="id">{{dias.dia1}}</th>
              <th data-field="id">{{dias.dia2}}</th>
              <th data-field="id">{{dias.dia3}}</th>
              <th data-field="id">{{dias.dia4}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{diaEjercicio.dia1}}</td>
            <td>{{diaEjercicio.dia2}}</td>
            <td>{{diaEjercicio.dia3}}</td>
            <td>{{diaEjercicio.dia4}}</td>
          </tr>
        </tbody>
      </table>
      <br><br>

      <h5>1RM</h5>
      <table  class="centered">
        <thead>
          <tr><th data-field="id">Militar</th>
              <th data-field="id">Peso Muerto</th>
              <th data-field="id">Press Banca</th>
              <th data-field="id">Sentadilla</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{mi1rm.uno}}</td>
            <td>{{mi1rm.dos}}</td>
            <td>{{mi1rm.tres}}</td>
            <td>{{mi1rm.cuatro}}</td>
          </tr>
        </tbody>
      </table>
      <br><br>

    </div>
    <script>
       $(document).ready(function() {
          //$('#contenido').hide();

          $('select').material_select();

          $(window).load(function () {
            $('#cargar').hide();
            $('#contenido').show();
          });

      });
    </script>
  </body>
</html>
